{% extends "base_logged_in.html" %}
{% block title %}{% block subtitle %}{% endblock %}Student{% endblock %}
{% block contentheading %}Students panel{% endblock %}
{% block maincontent %}
    {% block studentcontent %}
    <!-- <p class="yellowbg">Under construction</p> -->
    <li><a href="/student/questions">Questions</a></li><dd>Unanswered questions</dd>
    <li><a href="/student/answer">Answers</a></li><dd>Previous answers given</dd>
    <li><a href="/student/progress">Mi progress</a></li><dd>View my current progress</dd>
	
{% endblock %}