{% extends "teacher.html" %} {% from "macros/buttons.html" import button with context %} {% from "macros/question.html" import question with context %} {% block contentsubheading %}Preguntas{% endblock %} {% block maincontent %}

<!-- Tabla que contendra las preguntas que se han establecido -->
<table style="width:100%">
    <caption></caption>
    <!-- Cabecera de la tabla -->
    <tr>
        <th scope="col">Preguntas</th>
        <th scope="col">Respuesta Válida</th>
        <th scope="col">Editar pregunta</th>
    </tr>

    {{ question( '1', 'texto de la pregunta', 'texto de la repuesta') }}
    {{ question( '2', 'texto de la pregunta', 'texto de la repuesta') }}
    {{ question( '3', 'texto de la pregunta', 'texto de la repuesta') }}
    {{ question( '4', 'texto de la pregunta', 'texto de la repuesta') }}

</table>
<p class="alignright">{{ button('bluebg', '/teacher/questions/new', 'Añadir pregunta') }}</p>

{% endblock %}