{% extends "teacher.html" %}
{% from "macros/buttons.html" import button, submit_button %}
{% block contentsubheading %}Student {{ username }} stats {% endblock %}
{% block maincontent %}

<table class="fillwidth highlightrows">
    <tbody>
        <tr>
            <th>Total number of questions</th>
            <th>Number of questions answered</th>
            <th>Total cuestions puntuation</th>
            <th>Answered questions puntuation</th>
        </tr>
        <tr class="highlightable">
            <td>{{ n_questions }}</td>
            <td>{{ n_answers }}</td>
            <td>{{ total_average }}</td>
            <td>{{ answered_average }}</td>

        </tr>
        {% endfor %}
    </tbody>
</table>




{{ button('bluebg', '/teacher/students', 'Go back') }}


{% endblock %}