{% extends "teacher.html" %}
{% from "macros/buttons.html" import button, submit_button %}

{% block scripts %}
    <!-- Librerias para el editor de texto enriquecido -->
    <!-- <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>  
    <script>tinymce.init({selector:'textarea'});</script> -->
{% endblock %}

{% block contentsubheading %}Añadir pregunta{% endblock %}
{% block maincontent %}


<form action="/teacher/questions/new" method="post">
    <input type="hidden" name="redirect_to" value="{{ redirect_to }}" />

    <ul class="nobullet space">

        <!-- NOMBRE PREGUNTA -->
        <li>
            <label for="questionName"><strong>Nombre de la pregunta</strong></label>
            <br>
            <input type="text" name="questionName" id="" class="w100" placeholder="Introduce el nombre de la pregunta">
        </li>

        <!-- ENUNCIADO -->
        <li>
            <label for="description"><strong>Enunciado</strong></label>
            <br>
            <textarea name="description">Introduce el enunciado de la pregunta</textarea>
        </li>

        <!-- RESPUESTAS -->
        <li>
            <label for="respuestas"><strong>Respuestas</strong></label>
            <div name="respuestas">
                <div class="space">
                    <label for="questionAnswer">Respuesta correcta</label>
                    <input type="text" name="questionAnswer" id="" class="w100" placeholder="Introduce la respuesta">
                </div>            
                <div class="space">
                    <label for="questionAnswer2">Respuesta incorrecta 1</label>
                    <input type="text" name="questionAnswer2" id="" class="w100" placeholder="Introduce la respuesta">
                </div>
                <div class="space">
                    <label for="questionAnswer3">Respuesta incorrecta 2</label>
                    <input type="text" name="questionAnswer3" id="" class="w100" placeholder="Introduce la respuesta">
                </div>
            </div>
        </li>

        <!-- PUNTUACION -->
        <li>
            <label for="puntuation"><strong>Puntuación</strong></label><br>
            <input type="number" name="puntuation" step="0.05" value="0" min="0">    
        </li>

        <!-- PENALIZACION -->
        <li>
            <label for="penalty"><strong>Penalización respuesta incorrecta</strong></label><br>
            <input type="number" name="penalty" step="0.05" value="0" min="0">    
        </li>
    </ul>
    
    <!-- BOTONES -->
    <div class="ml35">
        {{ submit_button('bluebg', 'Save changes') }}
        {{ button('redbg', redirect_to, 'Cancel') }}
    <div>


</form>
{% endblock %}