{% extends "student.html" %}
{% from "macros/buttons.html" import button with context %}
{% block contentsubheading %}Respuestas{% endblock %}
{% block maincontent %}
<table class="fillwidth highlightrows">
    <tbody>
        <tr>
            <th class="alignleft">Nombre de la pregunta </th>
            <th>Respuesta</th>
            <th>Valoración</th>
        </tr>
        {% for answer in answers %} 
            {% for question in questions %}
            {% if answer.questionId == question.id %}
            <tr class="highlightable">
                <td>{{ question.questionName }}</td>
                <td>{{ answer.answer }}</td>
                <td>{{ answer.puntuation }}</td>
            </tr>
            {% endif %}
            {% endfor %}
        {% endfor %} 
    </tbody>
</table>
<p class="alignright">{{ button('bluebg', '/student', 'Volver') }}</p>
{% endblock %}
