{% extends "student.html" %}
{% from "macros/buttons.html" import button, submit_button %}
{% block contentsubheading %}My previous answers{% endblock %}
{% block maincontent %}

<table style="width:100%">
    <caption></caption>
    <!-- Cabecera de la tabla -->
    <tr>
        <th scope="col">Given answer</th>
        <th scope="col">Punctuation obtained</th>
    </tr>
    {% for answer in answers %}
    <tr>
	  <td>{{ answer['answer'] }} </td>
      <td>{{ answer['valoration'] }}</td>
	</tr>
    {% endfor %}


</table>
{{ button('bluebg', '/student', 'Go back') }}
{% endblock %}