{% extends "student.html" %}
{% from "macros/buttons.html" import button, submit_button %}
{% block contentsubheading %}Contestar preguntas{% endblock %}
{% block maincontent %}


<!-- Tabla que contendra las preguntas que se han establecido -->
<table style="width:100%">
    <caption></caption>
    <!-- Cabecera de la tabla -->
    <tr>
        <th scope="col">Question name</th>
        <th scope="col">Description</th>
        <th scope="col">Option 1</th>
        <th scope="col">Option 2</th>
        <th scope="col">Option 3</th>
		<th scope="col">Puntuation</th>
		<th scope="col">Penalty value</th>
		<th scope="col">Give answer</th>
    </tr>
    {% for question in questions %}
    <tr>
	  <td>{{ question['questionName'] }} </td>
      <td>{{ question['description'] }}</td>
      <td>{{ question['questionAnswer'] }}</td>
	  <td>{{ question['questionAnswer2'] }}</td>
	  <td>{{ question['questionAnswer3'] }}</td>
	  <td>{{ question['puntuation'] }}</td>
	  <td>{{ question['penalty'] }}</td>
      <td name="giveAnswer"><a href="/student/questions/question?id={{ question['id'] }}&redirect_to=/student/questions">Answer</td>


</tr>
    {% endfor %}


</table>
{{ button('bluebg', '/student', 'Go back') }}



{% endblock %}